<a href="https://colab.research.google.com/github/DammuNikhitha/AI-ML-Internship-Task-4/blob/main/01_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 4: Feature Encoding & Scaling.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

In [2]:
df=pd.read_csv("adult.csv")
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

# Step 1 : Identify Categorical & Numerical Features

Identifying Feature Types

In [5]:
categorical_features = df.select_dtypes(include='object').columns
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns

print("Categorical Features:", categorical_features)
print("Numerical Features:", numerical_features)

Categorical Features: Index(['workclass', 'education', 'marital.status', 'occupation',
       'relationship', 'race', 'sex', 'native.country', 'income'],
      dtype='object')
Numerical Features: Index(['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss',
       'hours.per.week'],
      dtype='object')

# Step 2 : Label Encoding (Ordered Categorical Data)

Label Encoding is applied where an order exists in the data.

In [6]:
le= LabelEncoder()
df['income']=le.fit_transform(df['income'])
df['income'].value_counts()

income
0    24720
1     7841
Name: count, dtype: int64

# Step 3 : One-Hot Encoding (Unordered Categorical Data)

One-Hot Encoding is used where no order exists among categories.

In [7]:
df_encoded=pd.get_dummies(df,columns=categorical_features,drop_first=True)
df_encoded.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_1
0,90,77053,9,0,4356,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,82,132870,9,0,4356,18,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
2,66,186061,10,0,4356,40,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,54,140359,4,0,3900,40,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
4,41,264663,10,0,3900,40,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False

# Step 4 : Feature Scaling Using StandardScaler

Numerical features are scaled using StandardScaler.

In [8]:
scaler=StandardScaler()
df_encoded[numerical_features]=scaler.fit_transform(df_encoded[numerical_features])
df_encoded.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_1
0,3.769612,-1.067997,-0.420060,-0.14592,10.593507,-0.035429,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,3.183112,-0.539169,-0.420060,-0.14592,10.593507,-1.817204,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
2,2.010110,-0.035220,-0.031360,-0.14592,10.593507,-0.035429,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,1.130359,-0.468215,-2.363558,-0.14592,9.461864,-0.035429,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False
4,0.177296,0.709482,-0.031360,-0.14592,9.461864,-0.035429,False,False,False,True,...,False,False,False,False,False,False,True,False,False,False

# Step 5 : Compare Before & After Scaling

Comparison Before and After Scaling

In [9]:
df[numerical_features].describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
df_encoded[numerical_features].describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04
mean,-3.666078e-17,-1.008172e-16,1.466431e-16,4.189804e-17,-3.491503e-17,-2.793203e-17
std,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00
min,-1.582206e+00,-1.681631e+00,-3.529656e+00,-1.459205e-01,-2.166595e-01,-3.194030e+00
25%,-7.757679e-01,-6.816910e-01,-4.200596e-01,-1.459205e-01,-2.166595e-01,-3.542945e-02
50%,-1.159546e-01,-1.082193e-01,-3.136003e-02,-1.459205e-01,-2.166595e-01,-3.542945e-02
75%,6.904838e-01,4.478765e-01,7.460392e-01,-1.459205e-01,-2.166595e-01,3.695194e-01
max,3.769612e+00,1.226856e+01,2.300838e+00,1.339458e+01,1.059351e+01,4.742967e+00

# Step 6 : Impact of Scaling on ML Algorithms


*   Scaling ensures all features contribute equally.
*   Distance-based algorithms perform better after scaling.
*   Faster convergence in gradient-based algorithms.

# Step 7 : Save Preprocessed Dataset

Saving Processed Dataset

In [11]:
df_encoded.to_csv("adult_income_preprocessed.csv",index=False)

## Final Outcome
- Identified categorical and numerical features
- Applied Label Encoding and One-Hot Encoding
- Scaled numerical features using StandardScaler
- Dataset is now ready for machine learning models